html, body {

	background: #833ab4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	);
	font-size:24px;
}
.app {
	margin: 0 auto;
  max-width: 960px;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: orange;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.submit-button i {
  margin-left: 5px;
	widhth:5em;
	
}